/* 16 Mar changes */

/*

Added extra CSS for Lab 10

*/


h1 {
  font-family: 'roboto';
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  padding: 10px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 2.5em;
  color: rgb(148, 47, 36);
  padding: 10px;
  border-bottom: solid black;
}

footer {
  font-weight: bold;
  text-align: center;
  font-style: italic;

}

body {
  background-color: rgb(95, 150, 64);
  font-family: Georgia, Times;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 98);
}

li, a { 
  list-style: none;
  padding: 10px 30px 20px 30px;
  display: inline;;
  text-decoration: none;

}

a {
  background-color: rgb(49, 59, 55);
  color: rgb(255, 255, 255);
}

img {
  display: block;
  size: 200px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

header > img {
  all: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

main > section {
  padding: 10px;
  margin: 10px;
  border: 10px solid rgb(112, 42, 42);
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;

}

section > article {
  width: 20%;
}

article > img { 
  height: 200px;
}


table, thead, th, tr, td{

  font-family: Arial, Verdana, Helvetica;
  background-color: rgb(118, 134, 97);
  border: 5px solid rgb(184, 13, 13);
  padding: 5px 5px 5px 5px;
  text-align: center;
}

thead {
  border: 5px solid rgb(184, 13, 13);
  padding: 5px 5px 5px 5px;
  text-align: center;
}

th {
  border: 5px solid rgb(184, 13, 13);
  padding: 5px 5px 5px 5px;
  text-align: center;
}

td {
  border: 5px solid rgb(184, 13, 13);
  padding: 5px 5px 5px 5px;
  text-align: center;
}

fieldset {
  background-color: black;
  flex-direction: column;
  background-color: darkgray;
  max-width: 20%;
  border: 10px solid rgb(0, 0, 0);
  margin-left: 50px;
  margin-top: 50px;
  border-bottom-right-radius: 8%;
}

legend {
  background-color: rgb(167, 50, 50);
  font-weight: bold;
}

label {
  background-color: gray;
}

input {
  background-color: gray;
}

button {
  background-color: red;
}

/* sales page */
/* 16 Mar changes */
