body {
  background-color: rgb(241, 184, 213);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

table {
  border-color: salmon;
  border-width: 1em;
  border-style: solid;
}

td {
  border-width: 0.5em;
  border-style: solid;
  padding: 15px;
  text-align: center;
  font-family: sans-serif, Times, Tahoma, ;
  width: 15px;
}

/* 16 Mar changes */